<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
      
         <% 
         for(var i in header){ 
          if(!header[i].child){

        %>
        <li><a href="<%= header[i].href %>"><%= header[i].key %></a></li>
        <%  
            }else{
        %>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= header[i].key %></a>
          <ul class="dropdown-menu" role="menu">
          <%
          for(var j in header[i].data){
          %>
          <li><a href="<%= header[i].data[j][1] %>"><%= header[i].data[j][0] %></a></li>
          <%
          }
          %>
          </ul>
        </li>

        <%
            }
          } 
          %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>