<div class="detail-menu">
  <h1><%= left.product.title[0] %><br><%= left.product.title[1] %></h1>
  <ul>
    <%
    for(var i=0;i<left.product.liData.length;i++){
      if(left.product.activeUrl == left.product.liData[i].navlink ){
    %>
      <li class="active"><a href="<%= left.product.liData[i].navlink %>"><%= left.product.liData[i].navname %></a></li>
    <%
      }else{
    %>
      <li><a href="<%= left.product.liData[i].navlink %>"><%= left.product.liData[i].navname %></a></li>
    <%
      }
    }
    %>
  </ul>
</div>
<div class="contact">
    <h1><%= left.contact.title[0] %><span><%= left.contact.title[1] %></span></h1>
    <div class="contact-txt">
      <p><%= left.contact.txt[0] %></p>
      <p><%= left.contact.txt[1] %></p>
      <p><%= left.contact.txt[2] %></p>
    </div>
</div>