<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>后台管理系统 1.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->



    <link rel="stylesheet" href="view/admin/assets/css/style.css">
    <link rel="stylesheet" href="view/admin/assets/css/loader-style.css">
    <link rel="stylesheet" href="view/admin/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="view/admin/assets/js/progress-bar/number-pb.css">
    
    <style type="text/css">
    canvas#canvas4 {
        position: relative;
        top: 20px;
    }
    </style>




    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="view/admin/assets/ico/minus.png">
</head>

<body> 
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- TOP NAVBAR -->
    <% include common/header %>

    <!-- /END OF TOP NAVBAR -->
    
    <!-- SIDE MENU -->
    <% include common/left %>
    <!-- END OF SIDE MENU -->


    <!--  PAPER WRAP -->
    <div class="wrap-fluid">
        <div class="container-fluid paper-wrap bevel tlbr">

            <!-- CONTENT -->
            <!--TITLE -->
            <% include common/nav %>
            <!--/ TITLE -->

            <!-- BREADCRUMB -->
            <% include common/breadcrumb %>
            <!-- END OF BREADCRUMB -->

            <div class="content-wrap">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nest" id="horizontalClose">
                            <div class="title-alt">
                                <h6>轮播图管理</h6>
                                <div class="titleToggle">

                                   <a class="btn btn-primary btn-lg" href="/adminAddNav" >添加导航</a>
                                </div>
                            </div>

                            <div class="body-nest" id="horizontal" style="display: block;">
                                

                                <table class="table table-striped table-bordered table-hover" id="tablve-nalist">
                                <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>是否显示</th>
                                        <th>是否新窗口</th>
                                        <th>排序</th>
                                        <th>位置</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <%
                                    if(data.length>0){
                                        for(var i=0;i<data.length;i++){
                                    %>
                                    <tr>
                                        <td><%= data[i].navname %></td>
                                        <td>
                                        <%
                                            if(data[i].navshow){
                                        %>
                                        <img src="view/admin/image/yes.gif" alt="" class="updateShow" data-navid="<%= data[i].id %>" navshow="<%= data[i].navshow %>" />
                                        <%
                                            }else{
                                        %>
                                        <img src="view/admin/image/no.gif" alt="" class="updateShow" data-navid="<%= data[i].id %>" navshow="<%= data[i].navshow %>" />
                                        <%           
                                            }
                                        %>
                                        </td>
                                        <td>
                                        <%
                                            if(data[i].navwindow){
                                        %>
                                        <img src="view/admin/image/yes.gif" alt="" class="updateWindow" data-navid="<%= data[i].id %>" navwindow="<%= data[i].navwindow %>" />
                                        <%
                                            }else{
                                        %>
                                        <img src="view/admin/image/no.gif" alt="" class="updateWindow" data-navid="<%= data[i].id %>" navwindow="<%= data[i].navwindow %>" />
                                        <%           
                                            }
                                        %>
                                        </td>
                                        <td><%= data[i].navsort %></td>
                                        <td><%= data[i].navpos==0 ? '顶部' : data[i].navpos==1 ? '中间' : '底部' %></td>
                                        <td>
                                            <a class="btn btn-success btn-sm" href="/adminAddNav?id=<%= data[i].id %>">编辑</a>
                                            <a class="btn btn-warning btn-sm navCancle" data-navid="<%= data[i].id %>" >删除</a>
                                        </td>  
                                    </tr>
                                    <%
                                        }
                                    }else{
                                    %>
                                    <tr>
                                        <td colspan="6">没有内容</td>
                                    </tr>
                                    <%
                                    }
                                    %>
                                    
                                    </tbody>
                                </table>
                               
                               <%
                               if(data.length>0){
                               %>
                                <nav class="txtright">
                                  <ul class="pagination">
                                    <li id="page-first"><a href="javascript:void(0);" data-page="0">首页</a></li>
                                    <%
                                        for(var i=0;i<pages;i++){
                                            if(i==0){
                                    %>
                                    <li class="active listpage"><a href="javascript:void(0);"  data-page="<%= i %>"><%= i+1 %></a></li>
                                    <%
                                                }else{
                                    %>
                                    <li class="listpage"><a href="javascript:void(0);" data-page="<%= i %>"><%= i+1 %></a></li>
                                    <%
                                                }   
                                        }
                                    %>
                                    <li id="page-last"><a href="javascript:void(0);" data-page="<%= pages-1 %>">尾页</a></li>
                                  </ul>
                                </nav>
                                <%
                                }
                                %>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
    <!--  END OF PAPER WRAP -->

   <!-- RIGHT SLIDER CONTENT -->
    <% include common/slidebar %>
    <!-- END OF RIGHT SLIDER CONTENT-->

    <!-- cononjs -->
    <% include common/commonjs %>
    <!-- END OF cononjs-->
    
    
<!-- 确认框 -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">删除确认框</h4>
      </div>
      <div class="modal-body">
        您确定删除此条数据吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="cancle" navid="" >确定</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" >取消</button>
      </div>
    </div>
  </div>
</div>

<!-- 消息提示框 -->
<div class="modal fade" id="mes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>


<script>
    $(function(){

        //初始化
            var page = $('.pagination li.active').find('a').data('page');
            if(page == $('#page-first a').data('page')){
                $('#page-first').addClass('disabled');
            }else{
                $('#page-first').removeClass('disabled');
            }

            if(page == $('#page-last a').data('page')){
                $('#page-last').addClass('disabled');
            }else{
                $('#page-last').removeClass('disabled');
            }

            //分页
            $('#page-first').click(function(event) {
                if($(this).hasClass('disabled')) 
                    return ;
                $('.pagination .listpage').first().click();
            });

            $('#page-last').click(function(event) {
                if($(this).hasClass('disabled')) 
                    return ;
                $('.pagination .listpage').last().click();
            });

            $('.pagination').delegate('.listpage', 'click', function(event) {
                var self = this;
                if($(this).hasClass('active'))
                    return;
                page = $(this).find('a').data('page');

                $.ajax({
                    url: '/adminNavListPage',
                    type: 'post',
                    data: {page : page},
                })
                .done(function(data) {
                    var tbody = '';
                    if(data.status == 1){
                        $('#mes .modal-body').html(data.data);
                        $('#mes').modal({
                            keyboard : true
                        });
                        setTimeout(function(){
                        $('#mes').modal('hide');
                      },1000);
                    }else{
                        $('.pagination li').removeClass('active');
                        $(self).addClass('active');
                        if(page == $('#page-first a').data('page')){
                            $('#page-first').addClass('disabled');
                        }else{
                            $('#page-first').removeClass('disabled');
                        }

                        if(page == $('#page-last a').data('page')){
                            $('#page-last').addClass('disabled');
                        }else{
                            $('#page-last').removeClass('disabled');
                        }

                        for(var i=0;i<data.data.length;i++){

                            var showImg = data.data[i].navshow ? '<img src="view/admin/image/yes.gif" alt="" class="updateShow" data-navid="' + data.data[i].id + '" navshow="' + data.data[i].navshow + '" />' : '<img src="view/admin/image/no.gif" alt="" class="updateShow" data-navid="' + data.data[i].id + '" navshow="' + data.data[i].navshow + '" />';

                            var windowImg = data.data[i].navwindow ? '<img src="view/admin/image/yes.gif" alt="" class="updateWindow" data-navid="' + data.data[i].id + '" navwindow="' + data.data[i].navwindow + '" />' : '<img src="view/admin/image/no.gif" alt="" class="updateWindow" data-navid="' + data.data[i].id + '" navwindow="' + data.data[i].navwindow + '" />';

                            var pos = data.data[i].navpos==0 ? '顶部' : data.data[i].navpos==1 ? '中间' : '底部' 

                            tbody += '<tr>'
                                  + '<td>' + data.data[i].navname +'</td>'
                                  + '<td>' + showImg + '</td>'
                                  + '<td>' + windowImg +'</td>'
                                  + '<td>' + data.data[i].navsort +'</td>'
                                  + '<td>' + pos +'</td>'
                                  + '<td>'
                                  +     '<a class="btn btn-success" href="/adminAddNav?id=' + data.data[i].id + '">编辑</a>'
                                  +     ' <button  class="btn btn-warning navCancle" data-navid="' + data.data[i].id + '"  >删除</button></td>'
                                  + '</tr>'
                        }
                        $('#tablve-nalist tbody').html(tbody);

                    }
                    
                })
                
                
            });
                
            $('body').delegate('.navCancle', 'click', function(event) {
                $('#confirmModal').modal();
                $('#cancle').attr('navid',$(this).data('navid'));
            });

            $('#cancle').click(function(event) {
                $('#confirmModal').modal('hide');
                var navId = $(this).attr('navid');
                $.ajax({
                    url: '/adminNavHandle',
                    type: 'post',
                    data: {
                        navId : navId,
                        handle : 'delete'
                    }
                })
                .done(function(data) {
                    $('#mes .modal-body').html(data.data);
                    $('#mes').modal({
                        keyboard : true
                    });
                    setTimeout(function(){
                    $('#mes').modal('hide');
                        if(data.status == 0){
                            location.href = '/adminNavList';
                        }
                    },1000);
                })
                .fail(function() {
                    $('#mes .modal-body').html('删除失败');
                    $('#mes').modal({
                        keyboard : true
                    });
                    setTimeout(function(){
                    $('#mes').modal('hide');
                    },1000);
                }) 
            });
        
        var showFlag = true;
        $('body').delegate('.updateShow', 'click', function(event) {
            if(showFlag){
                showFlag = false;
                $self = $(this);
                $self.attr('src','view/admin/image/loading.gif');
                var navId = $(this).data('navid');
                var navShow = !parseInt($(this).attr('navshow')) ? 1:0;
                $.ajax({
                    url: '/adminNavHandle',
                    type: 'post',
                    data: {
                        navId : navId,
                        field : 'navshow',
                        fieldVal : navShow,
                        handle : 'update'
                    }
                })
                .done(function(data) {
                    showFlag = true;
                    if(!data.status){
                        $self.attr('navshow',navShow);
                        if(navShow){
                            $self.attr('src','view/admin/image/yes.gif');
                        }else{
                             $self.attr('src','view/admin/image/no.gif');
                        }
                        
                    }
                })
                .fail(function() {
                    showFlag = true;
                    var navShow = !parseInt($(this).attr('navshow'));
                    if(navShow){
                        $self.attr('src','view/admin/image/yes.gif');
                    }else{
                         $self.attr('src','view/admin/image/no.gif');
                    }
                })    
            }
        });

        var windowFlag = true;
        $('body').delegate('.updateWindow', 'click', function(event) {
            if(windowFlag){
                windowFlag = false;
                $self = $(this);
                $self.attr('src','view/admin/image/loading.gif');
                var navId = $(this).data('navid');
                var navWindow = !parseInt($(this).attr('navwindow')) ? 1:0;
                
                $.ajax({
                    url: '/adminNavHandle',
                    type: 'post',
                    data: {
                        navId : navId,
                        field : 'navwindow',
                        fieldVal : navWindow,
                        handle : 'update'
                    }
                })
                .done(function(data) {
                    windowFlag = true;
                    if(!data.status){
                        $self.attr('navwindow',navWindow);
                        if(navWindow){
                            $self.attr('src','view/admin/image/yes.gif');
                        }else{
                             $self.attr('src','view/admin/image/no.gif');
                        }
                        
                    }
                })
                .fail(function() {
                    windowFlag = true;
                    var navWindow = !parseInt($(this).attr('navwindow'));
                    if(navWindow){
                        $self.attr('src','view/admin/image/yes.gif');
                    }else{
                         $self.attr('src','view/admin/image/no.gif');
                    }
                })    
            }
        });
        
    })
   

</script>


</body>

</html>
