<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>后台管理系统 1.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->



    <link rel="stylesheet" href="view/admin/assets/css/style.css">
    <link rel="stylesheet" href="view/admin/assets/css/loader-style.css">
    <link rel="stylesheet" href="view/admin/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="view/admin/assets/js/progress-bar/number-pb.css">
    
    <link rel="stylesheet" href="view/admin/js/bootstrap_file_input/fileinput.css">

    <style type="text/css">
    canvas#canvas4 {
        position: relative;
        top: 20px;
    }
    </style>




    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="view/admin/assets/ico/minus.png">
</head>

<body> 
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- TOP NAVBAR -->
    <% include common/header %>

    <!-- /END OF TOP NAVBAR -->
    
    <!-- SIDE MENU -->
    <% include common/left %>
    <!-- END OF SIDE MENU -->


    <!--  PAPER WRAP -->
    <div class="wrap-fluid">
        <div class="container-fluid paper-wrap bevel tlbr">


            <!-- CONTENT -->
            <!--TITLE -->
            <% include common/nav %>
            <!--/ TITLE -->

            <!-- BREADCRUMB -->
            <% include common/breadcrumb %>
            <!-- END OF BREADCRUMB -->

            <div class="content-wrap">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nest" id="horizontalClose">
                            <div class="title-alt">
                                <h6>管理员帐号</h6>
                                <div class="titleToggle">

                                   <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal-allUser">添加管理员</button>
                                </div>
                            </div>

                            <div class="body-nest" id="horizontal" style="display: block;">
                                <% 
                                    if(data.length<=0){
                                %>
                                权限不够
                                <%        
                                    }else{
                                %>

                                <table class="table table-striped table-bordered table-hover" id="table-userlist">
                                <thead>
                                    <tr>
                                        <th>登录ID</th>
                                        <th>笔名</th>
                                        <th>真实姓名</th>
                                        <th>权限级别</th>
                                        <th>登录时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <%
                                        for(var i=0;i<data.length;i++){
                                %>
                                
                                <tr>
                                        <td><%= data[i].loginname %></td>
                                        <td><%= data[i].pseudonym %></td>
                                        <td><%= data[i].name %></td>
                                        <td><%= data[i].level %></td>
                                        <td><%= dateformat(data[i].logintime) %></td>
                                        <td>
                                        <button  class="btn btn-success btn-update" data-userId="<%= data[i].loginname %>">更改</button>
                                        <button  class="btn btn-warning user-handle" data-userId="<%= data[i].loginname %>"  >删除</button>
                                        </td>
                                </tr>
                                <%
                                        }
                                   
                                %>
                                    </tbody>
                                </table>
                                <nav>
                                  <ul class="pagination">
                                    <li id="page-first"><a href="javascript:void(0);" data-page="0">首页</a></li>
                                    <%
                                        for(var i=0;i<pages;i++){
                                            if(i==0){
                                    %>
                                    <li class="active listpage"><a href="javascript:void(0);"  data-page="<%= i %>"><%= i+1 %></a></li>
                                    <%
                                                }else{
                                    %>
                                    <li class="listpage"><a href="javascript:void(0);" data-page="<%= i %>"><%= i+1 %></a></li>
                                    <%
                                                }   
                                        }
                                    %>
                                    <li id="page-last"><a href="javascript:void(0);" data-page="<%= pages-1 %>">尾页</a></li>
                                  </ul>
                                </nav>
                                <%
                                       
                                    }
                                %>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

           
        </div>
    </div>
    <!--  END OF PAPER WRAP -->

    <!-- 添加管理员弹窗 -->
    <div class="modal fade " id="myModal-allUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">添加管理员</h4>
          </div>
          <div class="modal-body">
                <div class="form_center">
                <form role="form" class="form-horizontal" id="add-user" novalidate="novalidate" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">用户登录ID：</label>
                        <div class="col-lg-9">
                            <input id="loginID" name="loginID" class="form-control" value="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">用户笔名：</label>
                        <div class="col-lg-9">
                            <input id="pseudonym" name="pseudonym" class="form-control" value="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">用户密码：</label>
                        <div class="col-lg-9">
                            <input id="loginPWD" name="loginPWD" class="form-control" value="" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">确认密码：</label>
                        <div class="col-lg-9">
                            <input id="loginCPWD" name="loginCPWD" class="form-control" value="" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">真实姓名：</label>
                        <div class="col-lg-9">
                            <input id="name" name="name" class="form-control" value="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">电子邮箱：</label>
                        <div class="col-lg-9">
                            <input id="email" name="email" class="form-control" value="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" >用户头像：</label>
                        <div class="col-lg-9">
                            <input id="userface" name="userface" class="" type="file" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">权限：</label>
                        <div class="col-lg-9">
                            <select class="form-control" name="level" id="level">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn-add">增加用户</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 修改管理员弹窗 -->
    <div class="modal fade " id="myModal-updateUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" >修改管理员信息</h4>
          </div>
          <div class="modal-body">
                <div class="form_center">
                <form role="form" class="form-horizontal" id="update-user" novalidate="novalidate" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">用户登录ID：</label>
                        <div class="col-lg-9">
                            <input id="uloginID" name="uloginID" class="form-control" value="" type="text" disabled="disabled" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">用户笔名：</label>
                        <div class="col-lg-9">
                            <input id="upseudonym" name="upseudonym" class="form-control" value="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">原始密码：</label>
                        <div class="col-lg-9">
                            <input id="oldPWD" name="oldPWD" class="form-control" value="" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">新密码：</label>
                        <div class="col-lg-9">
                            <input id="newPWD" name="newPWD" class="form-control" value="" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">确认新密码：</label>
                        <div class="col-lg-9">
                            <input id="newCPWD" name="newCPWD" class="form-control" value="" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">真实姓名：</label>
                        <div class="col-lg-9">
                            <input id="uname" name="uname" class="form-control" value="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label" for="basehost">权限：</label>
                        <div class="col-lg-9">
                            <select class="form-control" name="level" id="ulevel">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn-update">保存</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 消息提示弹窗 -->
    <div class="modal fade" id="mes">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <!-- 删除确认弹窗弹窗 -->
    <div class="modal fade" id="confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">消息提示</h4>
          </div>
          <div class="modal-body">
            <p>您确定删除所选用户吗？</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary " id="delete">确定</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal"  >关闭</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    

    <!-- RIGHT SLIDER CONTENT -->
    <% include common/slidebar %>
    <!-- END OF RIGHT SLIDER CONTENT-->

    <!-- cononjs -->
    <% include common/commonjs %>
    <!-- END OF cononjs-->

   

    <script src="view/admin/js/bootstrap_file_input/fileinput.js"></script>
    <script src="view/admin/js/bootstrap_file_input/zh.js"></script>

    s
    <script type="text/javascript">
   
    $(function(){
        var delIdArr = [];

        //上传图片预览插件初始化
        $("#userface").fileinput({
            language: 'zh',
            allowedFileExtensions : ['jpg', 'png','gif'],
            showUpload: false, //是否显示上传按钮
            showCaption: false,//是否显示标题
        });

        //初始化
        var page = $('.pagination li.active').find('a').data('page');
        if(page == $('#page-first a').data('page')){
            $('#page-first').addClass('disabled');
        }else{
            $('#page-first').removeClass('disabled');
        }

        if(page == $('#page-last a').data('page')){
            $('#page-last').addClass('disabled');
        }else{
            $('#page-last').removeClass('disabled');
        }

        //分页
        $('#page-first').click(function(event) {
            if($(this).hasClass('disabled')) 
                return ;
            $('.pagination .listpage').first().click();
        });

        $('#page-last').click(function(event) {
            if($(this).hasClass('disabled')) 
                return ;
            $('.pagination .listpage').last().click();
        });

        $('.pagination').delegate('.listpage', 'click', function(event) {
            var self = this;
            if($(this).hasClass('active'))
                return;
            page = $(this).find('a').data('page');

            $.ajax({
                url: '/adminUserListPage',
                type: 'post',
                data: {page : page},
            })
            .done(function(data) {
                var tbody = '';
                if(data.status == 1){
                    $('#mes .modal-body').html(data.data);
                    $('#mes').modal({
                        keyboard : true
                    });
                    setTimeout(function(){
                    $('#mes').modal('hide');
                  },1000);
                }else{
                    $('.pagination li').removeClass('active');
                    $(self).addClass('active');
                    if(page == $('#page-first a').data('page')){
                        $('#page-first').addClass('disabled');
                    }else{
                        $('#page-first').removeClass('disabled');
                    }

                    if(page == $('#page-last a').data('page')){
                        $('#page-last').addClass('disabled');
                    }else{
                        $('#page-last').removeClass('disabled');
                    }

                    for(var i=0;i<data.data.length;i++){
                        tbody += '<tr>'
                              + '<td>' + data.data[i].loginname +'</td>'
                              + '<td>' + data.data[i].pseudonym +'</td>'
                              + '<td>' + data.data[i].name +'</td>'
                              + '<td>' + data.data[i].level +'</td>'
                              + '<td>' + data.data[i].logintime +'</td>'
                              + '<td>'
                              +     '<button  class="btn btn-success btn-update" data-userId="' + data.data[i].loginname + '">更改</button>  '
                              +     '<button  class="btn btn-warning user-handle" data-userId="' + data.data[i].loginname + '"  >删除</button></td>'
                              + '</tr>'
                    }
                    $('#table-userlist tbody').html(tbody);

                }
                
            })
            
            
        });

        //删除管理员
        $('body').delegate('.user-handle', 'click', function(event) {
            $('#confirm').modal();
            delIdArr = [];
            delIdArr.push($(this).data('userid'));
        });
       
        $('#delete').click(function(){
            console.log(delIdArr)
            $('#confirm').modal('hide');
                $.ajax({
                    url : '/adminDelUser',
                    type : 'post',
                    data : 'loginnames=' + delIdArr,
                    success : function(data){
                        $('#mes .modal-body').html(data.data);
                        $('#mes').modal({
                            keyboard : true
                        });
                        setTimeout(function(){
                        $('#mes').modal('hide');
                            if(data.status == 0){
                                location.href = '/adminUserList';
                            }
                        },1000);
                    }
                })
        })

        //添加管理员
        $('#btn-add').click(function(){
            $('#add-user').submit();
        })
        
         $('#add-user').validate({
            rules : {
                loginID : { 
                    required : true, 
                    rangelength : [5,20],
                    remote : '/adminAddUser_checkID'
                },
                pseudonym : { 
                    required : true, 
                    rangelength : [2,10]
                },
                loginPWD : { 
                    required : true, 
                    rangelength : [5,20]
                },
                loginCPWD : { 
                    required : true, 
                    rangelength : [5,20],
                    equalTo : '#loginPWD'
                },
                email : { 
                    email : true
                }
            },
            messages : {
                loginID : {
                    required : '登录ID不得为空！',
                    rangelength :  $.validator.format('登录ID限制在{0}-{1}位！'),
                    remote : '登录ID已被占用！'
                },
                pseudonym : { 
                    required : '用户笔名不得为空！', 
                    rangelength : $.validator.format('用户笔名限制在{0}-{1}位！')
                },
                loginPWD : { 
                    required : '密码不得为空！', 
                    rangelength : $.validator.format('密码限制在{0}-{1}位！')
                },
                loginCPWD : { 
                    required : '确认密码不得为空！', 
                    rangelength : $.validator.format('登录ID限制在{0}-{1}位！'),
                    equalTo : '确认密码与用户密码不同!',
                }
            },
            //使用方法加载 class 并添加文本
            success : function (label) {
                
            },
            //高亮显示有错误的元素，变色式
            highlight: function(element, errorClass) {
                 
            },
            //成功的元素移出错误高亮
            unhighlight : function (element, errorClass) {
               $(element).parent().find('.error').remove(); 
            },
            submitHandler : function (form) {
                $('#myModal-allUser').modal('hide');
                if($("#userface").val()){
                    var data = new FormData($('#add-user')[0]);
                    data.append('date',new Date().getTime());
                    
                    $.ajax({
                        url: '/adminAddUser',
                        type: 'post',
                        data: data,
                        cache: false,
                        contentType: false,    //不可缺
                        processData: false,    //不可缺
                    })
                    .done(function(data) {
                        $('#mes .modal-body').html(data.data);
                        $('#mes').modal({
                            keyboard : true
                        });
                        setTimeout(function(){
                        $('#mes').modal('hide');
                            if(data.status == 0){
                                location.href = '/adminUserList';
                            }
                        },1000);
                    })
                }else{
                    var data = {
                        loginID : $('#loginID').val(),
                        level : $('#level').val(),
                        name : $('#name').val(),
                        loginPWD : $('#loginPWD').val(),
                        pseudonym : $('#pseudonym').val(),
                        userface : $('#userface').val(),
                        email : $('#email').val(),
                        date : new Date().getTime()
                    }

                    $.ajax({
                        url: '/adminAddUser',
                        type: 'post',
                        data: data
                    })
                    .done(function(data) {
                        $('#mes .modal-body').html(data.data);
                        $('#mes').modal({
                            keyboard : true
                        });
                        setTimeout(function(){
                        $('#mes').modal('hide');
                            if(data.status == 0){
                                location.href = '/adminUserList';
                            }
                        },1000);
                    })
                }

            }
        });

         //修改管理员信息
         $('body').delegate('.btn-update', 'click', function(event) {
             $('#uloginID').val($(this).parents('tr').find('td').eq(0).html());
            $('#upseudonym').val($(this).parents('tr').find('td').eq(1).html());
            $('#uname').val($(this).parents('tr').find('td').eq(2).html());
            $('#ulevel').val($(this).parents('tr').find('td').eq(3).html());
            $('#myModal-updateUser').modal(); 
         });
         
        $('#btn-update').click(function(){
            $('#update-user').submit();
        })
        
         $('#update-user').validate({
            rules : {
                uloginID : { 
                    required : true, 
                    rangelength : [5,20]
                },
                oldPWD : { 
                    rangelength : [5,20]
                },
                newPWD : { 
                    rangelength : [5,20]
                },
                newCPWD : { 
                    rangelength : [5,20],
                    equalTo : '#newPWD'
                }
            },
            messages : {
                loginID : {
                    required : '登录ID不得为空！',
                    rangelength :  $.validator.format('登录ID限制在{0}-{1}位！')
                },
                oldPWD : {  
                    rangelength : $.validator.format('原始密码限制在{0}-{1}位！')
                },
                newPWD : { 
                    rangelength : $.validator.format('新密码限制在{0}-{1}位！')
                },
                newCPWD : { 
                    rangelength : $.validator.format('新密码限制在{0}-{1}位！'),
                    equalTo : '新密码与确认密码不同!',
                }
            },
            //使用方法加载 class 并添加文本
            success : function (label) {
                
            },
            //高亮显示有错误的元素，变色式
            highlight: function(element, errorClass) {
                 
            },
            //成功的元素移出错误高亮
            unhighlight : function (element, errorClass) {
               $(element).parent().find('.error').remove(); 
            },
            submitHandler : function (form) {

                $('#myModal-updateUser').modal('hide');
                var data = {
                    uloginID : $('#uloginID').val(),
                    upseudonym : $('#upseudonym').val(),
                    oldPWD : $('#oldPWD').val(),
                    newPWD : $('#newPWD').val(),
                    newCPWD : $('#newCPWD').val(),
                    uname : $('#uname').val(),
                    ulevel : $('#ulevel').val()
                }
                
                $.ajax({
                    url: '/adminUpdateUser',
                    type: 'post',
                    data: data,
                })
                .done(function(data) {
                    $('#mes .modal-body').html(data.data);
                    $('#mes').modal({
                        keyboard : true
                    });
                    setTimeout(function(){
                    $('#mes').modal('hide');
                        if(data.status == 0){
                            location.href = '/adminUserList';
                        }
                    },1000);
                })

            }
        });

        

    })

    </script>


</body>

</html>
